In [1]:
# install boto3
!pip install boto3

Collecting boto3
  Downloading boto3-1.18.30-py3-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 4.0 MB/s
Collecting botocore<1.22.0,>=1.21.30
  Downloading botocore-1.21.30-py3-none-any.whl (7.8 MB)
     |████████████████████████████████| 7.8 MB 14.3 MB/s
Collecting jmespath<1.0.0,>=0.7.1
  Downloading jmespath-0.10.0-py2.py3-none-any.whl (24 kB)
Collecting s3transfer<0.6.0,>=0.5.0
  Downloading s3transfer-0.5.0-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 7.1 MB/s
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /home/mvw8/miniforge3/lib/python3.9/site-packages (from botocore<1.22.0,>=1.21.30->boto3) (1.26.6)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/mvw8/miniforge3/lib/python3.9/site-packages (from botocore<1.22.0,>=1.21.30->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/mvw8/miniforge3/lib/python3.9/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.22.0,>=1.21.30->boto3) (1.16.0)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.18.30 botocore-1.21.30 jmespath-0.10.0 s3transfer-0.5.0

In [2]:
import boto3
from secrets import ACCESS_KEY_ID, SECRET_ACCESS_KEY

In [4]:
s3 = boto3.resource(
    service_name='s3',
    region_name='us-east-1',  # name of the region your bucket is in
    aws_access_key_id=ACCESS_KEY_ID,
    aws_secret_access_key=SECRET_ACCESS_KEY
)

In [5]:
for bucket in s3.buckets.all():
    print(bucket)

s3.Bucket(name='moritz-demo-bucket')

In [7]:
s3.Bucket('moritz-demo-bucket').download_file(Key='titanic.csv', Filename='titanic.csv')

In [8]:
import pandas as pd
pd.read_csv('titanic.csv')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q